.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 800px;
}

.backButton {
  margin: 20px;
  margin-left: 30px;
  width: 1rem;
}
