.card {
  /* border: solid; */
  border-color: black;
  border-width: 0.2rem;
  margin: 2rem;
  font-weight: bold;
}

.image {
  width: 20rem;
}

.text {
  margin: 3px;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100px;
}

.img {
  /* max-height: 100%; */
  object-fit: cover;
}

.description {
  width: 400px;
}
