.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 800px;
}

.link {
  text-decoration: none;
  color: black;
}
